header{
    background:  #36394a;
    height: auto;
    max-height: 80px;
}

a{
    color :#fff ; 
    text-decoration: none;
}

a:hover{
    background: #7278a1;
    color:white;
}

.container {
    display:flex;
    justify-content:space-between;
    height: 100%; 

}

a.logo{
    font-weight: bold;
    padding:1em;
}

nav a {
    padding : 1em ;
    display:inline-block ; 
}
