<div *ngIf="task" class="task-details">
    <h2>{{ task.title }}</h2>
    <p><strong>Description:</strong> {{ task.description }}</p>
    <p><strong>Priority:</strong> {{ task.priority }}</p> 
    <p><strong>Due_date:</strong> {{ task.due_date }}</p>
    <p><strong>Owner:</strong> {{ task.owner }}</p>
    <p><strong>Category:</strong> {{ task.category }}</p> 
    <p><strong>Attachments:</strong> {{ task.attachments }}</p> 
    <p><strong>Status:</strong> {{ task.status }}</p> 
    <p><strong>Status cible:</strong>
        <select [(ngModel)]="newStatus" >
            <option [value]="'In Progress'">In Progress</option>
            <option [value]="'Review'">Review</option>
            <option [value]="'Done'">Done</option>
          </select>
    </p> 

    <button class="button1" (click)="goBack()">Go Back</button>
    <button class="button2" (click)="deleteTask()">Delete Task</button>
    <button class="button3" (click)="changeStatus()">Change Status</button>
</div>
  
<div *ngIf="!task">
    <p>No task details available.</p>
</div>
